pyarrow==18.1.0
iniconfig==2.0.0
jupyter_client==8.6.3
nvidia-curand-cu11==10.3.0.86
markdown-it-py==3.0.0
rpds-py==0.22.3
beautifulsoup4==4.12.3
pydantic_core==2.27.1
notebook_shim==0.2.4
torchmetrics==1.6.0
torch==2.2.0+cu118
wcwidth==0.2.13
aiosignal==1.3.1
ipython==8.30.0
identify==2.6.3
triton==2.2.0
awkward==1.10.5
polars==1.16.0
matplotlib==3.9.3
jupyter-events==0.11.0
Unidecode==1.3.8
referencing==0.35.1
pre_commit==4.0.1
ptyprocess==0.7.0
mhealpy==0.3.4
fqdn==1.5.1
sphinxcontrib-serializinghtml==2.0.0
decorator==5.1.1
myst-parser==4.0.0
matplotlib-inline==0.1.7
filelock==3.16.1
jupyter-console==6.6.3
torchdiffeq==0.2.5
snowballstemmer==2.2.0
mdit-py-plugins==0.4.2
sphinxcontrib-devhelp==2.0.0
tinycss2==1.4.0
uri-template==1.3.0
GitPython==3.1.43
argon2-cffi-bindings==21.2.0
jupyter==1.1.1
nvidia-cublas-cu11==11.11.3.6
scikit-learn==1.5.2
mdurl==0.1.2
torchscale==0.2.0
nvidia-cuda-cupti-cu11==11.8.87
nvidia-nccl-cu11==2.19.3
timer==0.3.0
pure_eval==0.2.3
Send2Trash==1.8.3
aiohappyeyeballs==2.4.4
pytorch-lightning==2.2.0
tqdm==4.67.1
ConfigUpdater==3.2
pyzmq==26.2.0
sniffio==1.3.1
websocket-client==1.8.0
pillow==11.0.0
httpcore==1.0.7
Sphinx==8.1.3
idna==3.10
nvidia-cusparse-cu11==11.7.5.86
jupyter_server==2.14.2
six==1.16.0
multidict==6.1.0
dill==0.3.9
smmap==5.0.1
asttokens==3.0.0
setuptools==75.6.0
bleach==6.2.0
terminado==0.18.1
jupyter-lsp==2.2.5
sphinxcontrib-qthelp==2.0.0
nvidia-cuda-runtime-cu11==11.8.89
torch_scatter==2.1.2+pt22cu118
yarl==1.18.3
arrow==1.3.0
sphinxcontrib-applehelp==2.0.0
pip==23.1.2
webencodings==0.5.1
ipywidgets==8.1.5
nbclient==0.10.1
protobuf==5.29.0
async-lru==2.0.4
debugpy==1.8.11
pycparser==2.22
packaging==24.2
anyio==4.7.0
wandb==0.18.7
jupyterlab_widgets==3.0.13
gitdb==4.0.11
requests==2.32.3
greenlet==3.1.1
sphinxcontrib-jsmath==1.0.1
jedi==0.19.2
lightning-utilities==0.11.9
Jinja2==3.1.4
pandas==2.2.3
tzdata==2024.2
attrs==24.2.0
sympy==1.13.3
traitlets==5.14.3
threadpoolctl==3.5.0
jsonschema==4.23.0
aiohttp==3.11.9
widgetsnbextension==4.0.13
fsspec==2024.10.0
prompt_toolkit==3.0.48
scipy==1.14.1
overrides==7.7.0
nvidia-nvtx-cu11==11.8.86
fonttools==4.55.1
soupsieve==2.6
imagesize==1.4.1
sentry-sdk==2.19.0
healpy==1.18.0
css-html-js-minify==2.5.5
click==8.1.7
untokenize==0.1.1
astropy-iers-data==0.2024.12.16.0.35.48
h5py==3.12.1
h11==0.14.0
docker-pycreds==0.4.0
nvidia-cusolver-cu11==11.4.1.48
certifi==2024.8.30
joblib==1.4.2
jammy_flows==1.0.0
ipykernel==6.29.5
MarkupSafe==2.1.0
mypy==1.13.0
nodeenv==1.9.1
lxml==5.3.0
timm==0.4.12
tornado==6.4.2
isoduration==20.11.0
astropy==7.0.0
pydocstyle==6.3.0
cfgv==3.4.0
docutils==0.21.2
isort==5.13.2
frozenlist==1.5.0
torch_cluster==1.6.3+pt22cu118
pydantic==2.10.3
urllib3==2.2.3
nest-asyncio==1.6.0
astroid==3.3.5
prometheus_client==0.21.1
typing_extensions==4.12.2
jsonpointer==3.0.0
ruamel.yaml==0.18.6
distlib==0.3.9
cffi==1.17.1
nvidia-cufft-cu11==10.9.0.58
networkx==3.4.2
webcolors==24.11.1
jupyter_core==5.7.2
pytest-order==1.3.0
nbconvert==7.16.4
versioneer==0.29
defusedxml==0.7.1
jupyter_server_terminals==0.5.3
pyerfa==2.0.1.5
python-dateutil==2.9.0.post0
parso==0.8.4
comm==0.2.2
PyYAML==6.0.2
pytz==2024.2
pandocfilters==1.5.1
jsonschema-specifications==2024.10.1
torchvision==0.17.0+cu118
setproctitle==1.3.4
mccabe==0.7.0
jupyterlab_server==2.27.3
pytest==8.3.4
fairscale==0.4.0
torch-geometric==2.6.1
notebook==7.3.1
executing==2.1.0
pyparsing==3.2.0
httpx==0.28.1
mypy-extensions==1.0.0
black==24.10.0
annotated-types==0.7.0
rfc3339-validator==0.1.4
platformdirs==4.3.6
mpmath==1.3.0
json5==0.10.0
python-slugify==8.0.4
nvidia-cuda-nvrtc-cu11==11.8.89
sphinx-material==0.0.36
pathspec==0.12.1
torch_sparse==0.6.18+pt22cu118
mistune==3.0.2
psutil==6.1.0
text-unidecode==1.3
SQLAlchemy==2.0.36
virtualenv==20.28.0
meander==0.0.3
rfc3986-validator==0.1.1
pylint==3.3.2
nvidia-cudnn-cu11==8.7.0.84
alabaster==1.0.0
colorlog==6.9.0
argon2-cffi==23.1.0
sphinx-autodoc-typehints==2.5.0
fastjsonschema==2.21.1
cycler==0.12.1
jupyterlab==4.3.3
graphnet==1.0.0+3929.g63094455.dirty
charset-normalizer==3.4.0
docformatter==1.7.5
tomlkit==0.13.2
types-python-dateutil==2.9.0.20241206
kiwisolver==1.4.7
nbformat==5.10.4
propcache==0.2.1
pexpect==4.9.0
pluggy==1.5.0
jupyterlab_pygments==0.3.0
ruamel.yaml.clib==0.2.12
sphinxcontrib-htmlhelp==2.1.0
contourpy==1.3.1
numpy==1.26.4
Pygments==2.18.0
python-json-logger==3.2.1
coverage==7.6.8
babel==2.16.0
stack-data==0.6.3
graphnet==1.0.0+3929.g63094455.dirty
more-itertools==10.3.0
inflect==7.3.1
jaraco.collections==5.1.0
zipp==3.19.2
jaraco.functools==4.0.1
packaging==24.2
platformdirs==4.2.2
typeguard==4.3.0
importlib_metadata==8.0.0
tomli==2.0.1
typing_extensions==4.12.2
jaraco.context==5.3.0
jaraco.text==3.12.1
wheel==0.43.0
backports.tarfile==1.2.0
autocommand==2.2.2
